
.App {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  color: var(--color-white);
}
.sections{
padding: 0px 10px 0px 10px;
display: flex;
flex-direction: column;
gap: 20px;
}