.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  width: 100%;
  max-width: 160px;
  aspect-ratio: 3 / 4;
  /* height: 205px; */
  transition: all 0.3s ease;

}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  will-change: transform; 
}

.albumImage {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 8px;   
  border-top-right-radius: 8px;
}

.cardContent {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 8px 10px 8px;
}

.albumName {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  
}
